<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Setting1" value="May 5, 2014"/>
    <add key="Setting2" value="May 6, 2014"/>
  </appSettings>
  <!--<configSections>
    <section name="MySettings" type="Configuration.MySection, Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
  </configSections>
  <MySettings>
    <add MySettingKey="Name" MySettingValue="1"/>
    <add MySettingKey="Name2" MySettingValue="2"/>
  </MySettings>-->
</configuration>