@model  WebApplication.Models.PersonViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
      <h1>@Model.Name</h1>
      <h2>@Model.Age</h2>
    
    </div>
</body>
</html>
